<div class="settings-container">
  <h1>Settings</h1>
  <div class="settings-list">
    <div class="settings-item" routerLink="/user/profile">
      Manage Details
      <span class="arrow">&#8250;</span>
    </div>
    <div class="settings-item" routerLink="/user/tasks">
      Manage Tasks
      <span class="arrow">&#8250;</span>
    </div>
    <div class="settings-item" routerLink="/user/notification">
      Notifications
      <span class="arrow">&#8250;</span>
    </div>
    <div class="settings-item" routerLink="/user/profile">
      Profile
      <span class="arrow">&#8250;</span>
    </div>
    <div class="settings-item" routerLink="/user/report">
      Reports
      <span class="arrow">&#8250;</span>
    </div>
  </div>
</div>
