<!--<div class="login-container">
  Your login form goes here 
</div>-->
        <title>StackDash</title>

        <video autoplay muted loop id="bg-video">
            <source src="../login3.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay"> </div>
        
        
<div class="login-container">

  <div class="logo">
<img class="logo-img" src="logo3.png" alt="StackDash Logo" style="height: 75px;">
</div>

  <div *ngIf="errorMessage" style="color: red;" >
          <p>{{ errorMessage }}</p>
          
        </div>

        <div *ngIf="successMessage" class="success-message">
          {{ successMessage }}
        </div>

        <h2 style="color: rgb(7, 71, 114);">Update Password</h2>


  <form [formGroup]="updatePassForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Enter email" />
      <div *ngIf="emailSubmitted && updatePassForm.get('email')?.errors">
          <small class="error" *ngIf="updatePassForm.get('email')?.errors?.['required']"> Email is required</small>
          <small class="error" *ngIf="updatePassForm.get('email')?.errors?.['email']">Enter valid email id</small>
        </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn-primary" (click)="sendVerification()">Send Verification Mail</button>
    </div>

    <div class="form-group">
      <label>Enter OTP</label>
      <input type="text" formControlName="otp" placeholder="Enter OTP" />
      <div  *ngIf="submitted && updatePassForm.get('otp')?.errors">
      <small class="error" *ngIf="submitted && updatePassForm.get('otp')?.errors?.['required']"> OTP is required.</small>
     <small class="error" *ngIf="submitted && updatePassForm.get('otp')?.errors?.['pattern']" >
      OTP must be a 6-digit number.</small>
    </div>
    </div>

    <div class="form-group">
      <label>New Password</label>
      <input type="password" formControlName="password" placeholder="New password" />
      <div *ngIf="submitted && updatePassForm.get('password')?.errors" id="error">
          <small class="error" *ngIf="updatePassForm.get('password')?.errors?.['required']"> Password is required</small>
          <small class="error" *ngIf="updatePassForm.get('password')?.errors?.['min']">Password length should more than 6</small>
          <small class="error" *ngIf="updatePassForm.get('password')?.errors?.['pattern']">
            Password must contain at least one letter, one number, and one special character.
          </small>
        </div>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" placeholder="Confirm password" />
      <div class="error" *ngIf="updatePassForm.errors?.['passwordMismatch'] && updatePassForm.get('confirmPassword')?.touched">
            Passwords do not match.
        </div>
    </div>

    <div class="form-group">
      <button type="submit" class="button-update">Update Password</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn-primary" routerLink="/login">Back</button>
    </div>
  </form>

</div>